<div class="jumbotron">
    <div class="background-image"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">
                    <img alt="LifeDrops" src="images/LifeDrops_Logo2.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/search">Find Blood Banks</a></li>
                    <li><a href="#/signin">Sign In</a></li>
                    <li class="special-button"><a href="#/">Become a Donor</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Donate</h2>
                <p>Every two seconds someone in the U.S. needs blood. There is almost always a shortage of blood. 40,000 units of blood is required everyday in the United States.</p>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <div class="user-action">

                    <form class="form-group">
                        <div class="row">
                            <div class="col-xs-4 col-sm-2 col-md-3">
                                <div class="user-icon">
                                    <img src="images/user-recipient.svg" alt="user recipient">
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-9">
                                <p class="recipient-margin">Become a recipient</p>
                                <a class="show-hide-recipient" ng-click="model.changeUser()" ng-show="model.isDonor">Sign Up</a>
                            </div>
                            <div class="col-xs-12 show-hide-recipient" ng-hide="model.isDonor">
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="company">Company, Organization or Institution</label>
                                        <input ng-model="model.recipient.institution" type="text" class="form-control" id="company" placeholder="Company, Organization or Institution">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="email">Email</label>
                                        <input ng-model="model.recipient.email" type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="phone">Phone</label>
                                        <input ng-model="model.recipient.phone" type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="createPassword">Create Passord</label>
                                        <input ng-model="model.recipient.password" type="password" class="form-control" id="createPassword" placeholder="Create Password">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="Autocomplete">City</label>
                                        <input ng-model="model.recipient.city" type="text" class="form-control recipient-city" id="Autocomplete" placeholder="City" ng-autocomplete="result2" details="details2" options="options2" name="city">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <a class="btn btn-block btn-success" ng-click="model.registerRecipient(model.recipient)">Become a recipient</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <span class="division">OR</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-2 col-md-3">
                                <div class="user-icon">
                                    <img src="images/user-donor.svg" alt="user donor">
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-9">
                                <p class="donor-margin">Become a donor</p>
                                <a class="show-hide-donor" ng-click="model.changeUser()" ng-hide="model.isDonor">Sign Up</a>
                            </div>
                            <div class="col-xs-12 show-hide-donor" ng-show="model.isDonor">
                                <div class="row enable-top-margin">
                                    <div class="col-xs-6 disable-padding-right">
                                        <label class="sr-only" for="firstName">First Name</label>
                                        <input ng-model="model.donor.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                                    </div>
                                    <div class="col-xs-6 disable-padding-left">
                                        <label class="sr-only" for="lastName">Last Name</label>
                                        <input ng-model="model.donor.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="email">Email</label>
                                        <input ng-model="model.donor.email" type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="phone">Phone</label>
                                        <input ng-model="model.donor.phone" type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="createPassword">Create Passord</label>
                                        <input ng-model="model.donor.password" type="password" class="form-control" id="createPassword" placeholder="Create Password">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="Autocomplete">City</label>
                                        <input ng-model="model.donor.city" type="text" class="form-control donor-city" id="Autocomplete" placeholder="City" ng-autocomplete="result2" details="details2" options="options2" name="city">
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <label class="sr-only" for="bloodType">Blood Type</label>
                                        <select ng-model="model.donor.bloodType" class="form-control" id="bloodType">
                                            <option value="" selected disabled>Blood Type</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row enable-top-margin">
                                    <div class="col-xs-12">
                                        <a class="btn btn-block btn-success" ng-click="model.registerDonor(model.donor)">Become a donor</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="donor-card" src="images/donor-card.png" alt="donor card">
        </div>
        <div class="col-md-5">
            <p class="donor-para">We are a community of donors that aim to solve the problem of blood shortage. The only way to do so is through voluntary blood donations.</p>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span class="donor-color">1,256</span> donors, <span class="org-color">157</span> organizations</p>
                <ul class="list-inline">
                    <li><a href="#/"><img src="images/facebook.svg" alt="facebook"></a></li>
                    <li><a href="#/"><img src="images/twitter.svg" alt="twitter"></a></li>
                    <li><a href="#/"><img src="images/instagram.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{model.errorMessage}}
</div>