<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#/user/{{model.userId}}" class="brand-logo left left-margin-10">&lt;</a>
            <a href="#!" class="brand-logo left left-margin-40">Websites</a>
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}/website/new"><i class="large material-icons">library_add</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row" ng-repeat="website in model.websites">
        <div class="col s12">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="left">{{website.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="right"><i class="tiny material-icons">settings</i></a>
        </div>
    </div>
</div>

<div class="navbar-fixed bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>