<div class="jumbotron search">
    <div class="background-image search"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">
                    <img alt="LifeDrops" src="images/LifeDrops_Logo2.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="special-button"><a href="#/search">Find Blood Banks</a></li>
                    <li><a href="#/signin">Sign In</a></li>
                    <li><a href="#/home">Become a Donor</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 form-group move-down search-input">
                <input ng-enter="model.search()" class="form-control" id="Autocomplete" ng-autocomplete="result2" details="details2" options="options2" type="text" name="city" placeholder=" Find a city" autofocus>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div ng-show="model.showMap" id="map"></div>

<div ng-hide="model.showMap" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="bigger-p">Enter a city to find places where you can donate blood.</p>
        </div>
    </div>
</div>

<div ng-show="model.showMap" class="container search-places">
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="place in model.places">
            <div class="crop">
                <img ng-src="{{model.checkSafeImageUrl(place.image)}}" alt="Place Image">    
            </div>
            <div class="place-info">
                <p>{{place.name}}</p>
                <span style="margin-bottom: 10px;">{{place.formatted_address}}</span>
                <span>Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{place.international_phone_number}}</span>
                <span>Directions : &nbsp;&nbsp;<a target="_blank" ng-href="{{place.url}}">Open in Google Maps</a></span>
                <span>Website : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" ng-href="{{place.website}}">Open Website</a></span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span class="donor-color">1,256</span> donors, <span class="org-color">157</span> organizations</p>
                <ul class="list-inline">
                    <li><a href="#/"><img src="images/facebook.svg" alt="facebook"></a></li>
                    <li><a href="#/"><img src="images/twitter.svg" alt="twitter"></a></li>
                    <li><a href="#/"><img src="images/instagram.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>