<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#/user/{{model.userId}}/website" class="brand-logo left left-margin-10">&lt;</a>
            <a href="#!" class="brand-logo left left-margin-40">Pages</a>
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new"><i class="large material-icons">note_add</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row" ng-repeat="page in model.pages">
        <div class="col s12">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" class="left">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="right"><i class="tiny material-icons">settings</i></a>
        </div>
    </div>
</div>

<div class="navbar-fixed bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>