<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper container">
            <div class="row">
                <div class="col m4 hide-on-small-only">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="left text-big">&lt;</a>
                    <a class="left text-big left-margin-10">Pages</a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="remove-padding"><i class="large material-icons">note_add</i></a></li>
                    </ul>
                </div>
                <div class="col s12 m8">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="left left-margin-10 hide-on-med-and-up text-big">&lt;</a>
                    <a class="left left-margin-15 text-big remove-margin-on-med">New Page</a>
                    <ul id="nav-mobile" class="right">
                        <li><a ng-click="model.createPage(model.page)"><i class="large material-icons">done</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row">
        <div class="col m4 hide-on-small-only">
            <div class="row" ng-repeat="page in model.pages">
                <div class="col s12">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" class="left">{{page.name}}</a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="right"><i class="tiny material-icons">settings</i></a>
                </div>
            </div>
        </div>
        <form class="col s12 m8">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.page.name" placeholder="Name" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.page.description" placeholder="Title" id="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="navbar-fixed bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>