<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#!" class="brand-logo left">Profile</a>
            <ul id="nav-mobile" class="right">
                <li><a onclick="Materialize.toast('Profile saved!', 4000)"><i class="large material-icons">done</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Username" id="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="alice@wonderland.com" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Alice" id="first-name" type="text" class="validate">
                    <label for="first-name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Wonderland" id="last-name" type="text" class="validate">
                    <label for="last-name">Last Name</label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="website-list.html" class="blue waves-effect waves-light btn-large">Websites</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="login.html" class="red waves-effect waves-light btn-large">Logout</a>
        </div>
    </div>
</div>

<div class="navbar-fixed bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="profile.html"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>