<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="brand-logo left left-margin-10">&lt;</a>
            <a class="brand-logo left left-margin-40">Choose Widget</a>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row">
        <div class="col s12">
            <a ng-click="model.createWidget('HEADER')">Header</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Label</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>HTML</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Text Input</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Link</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Button</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Data Table</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a>Repeater</a>
        </div>
    </div>
</div>

<div class="navbar-fixed bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="#/user/{{model.userId}}"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>