<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.widgetType" id="name" type="text" class="validate">
            <label class="active" for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.text" id="text" type="text" class="validate" value="California May Soon Let Autonomous Cars Roam Without Humans Inside">
            <label class="active" for="text">Text</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.size" id="size" type="number" class="validate" value="5">
            <label class="active" for="size">Size</label>
        </div>
    </div>
</form>