<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.widgetType" id="name" type="text" class="validate">
            <label class="active" for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.text" id="text" type="text" class="validate">
            <label class="active" for="text">Text</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.url" id="url" type="text" class="validate" value="https://i.kinja-img.com/gawker-media/image/upload/s--htT-LSdT--/c_scale,fl_progressive,q_80,w_800/e2izpupwuoxbikmc8gsk.jpg">
            <label class="active" for="url">URL</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input ng-model="model.widget.width" id="width" type="text" class="validate" value="100%">
            <label class="active" for="width">Width</label>
        </div>
    </div>
    <div class="row">
        <div class="file-field input-field col s12">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload file">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a onclick="Materialize.toast('Image upload not available at the moment!', 4000)" class="blue waves-effect waves-light btn-large">Upload</a>
        </div>
    </div>
</form>